<div class="my-4">
  <label class="block mb-2 text-sm font-medium text-gray-700">2. Choose your channel</label>
  <div class="w-full text-sm font-medium text-gray-900">
    <button type="button"
      class="w-full px-4 py-4 font-medium text-left cursor-pointer hover:bg-gray-100 focus:bg-white focus:outline-none">
      Profile
    </button>
    <button type="button"
      class="w-full px-4 py-4 font-medium text-left cursor-pointer hover:bg-gray-100 focus:bg-white focus:outline-none">
      Settings
    </button>
    <button type="button"
      class="w-full px-4 py-4 font-medium text-left cursor-pointer hover:bg-gray-100 focus:bg-white focus:outline-none">
      Messages
    </button>
  </div>
</div>
