<div class="my-4">
  <form [formGroup]="userForm" #userform="ngForm" (change)="getSelectedUser(userform)" data-testid="form">
    <label class="block mb-2 text-sm font-medium text-gray-700">1. Choose your user</label>
    <select [formControlName]="'userId'" data-testid="user-id"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5">
      <option *ngFor="let user of users" [value]="user.userId">{{ user.userName }}</option>
    </select>
  </form>
</div>
