<div class="flex flex-col flex-auto shrink py-6 bg-card">
  <div class="flex flex-row items-start my-2">
    <div class="relative flex flex-0 flex-col items-center justify-center w-10 my-auto">
      <img src="https://angular-test-backend-yc4c5cvnnq-an.a.run.app/Sam.png"
        class="w-full h-full rounded-full object-cover" alt="">
      <p class="text-xs">Sam</p>
    </div>
    <div class="relative max-w-[70%] px-3 py-2 rounded-sm ml-4 bg-white text-gray-700 text-sm">
      <p>Hello, I'm Russell.<br> How can I help you today?
        Are we meeting today?
        Project has been already finished and I have results to show you</p>
      <div
        class="absolute top-[0px] left-0 transform -translate-x-1/2 translate-y-1/2 rotate-45 w-4 h-4 bg-white">
      </div>
    </div>
    <div class="my-auto mx-2 text-xs font-medium text-center">
      <p>08:55</p>
    </div>
  </div>
  <div class="flex flex-row-reverse items-end my-2">
    <div class="relative flex flex-0 flex-col items-center justify-center w-10 my-auto">
      <img src="https://angular-test-backend-yc4c5cvnnq-an.a.run.app/Sam.png"
        class="w-full h-full rounded-full object-cover" alt="">
      <p class="text-xs">Sam</p>
    </div>
    <div
      class="relative max-w-[70%] px-3 py-2 rounded-sm mr-4 bg-white text-gray-700 text-sm my-auto">
      <p>Hello, I'm Russell.</p>
      <div
        class="absolute top-[0px] right-0 transform translate-x-1/2 translate-y-1/2 rotate-45 w-4 h-4 bg-white">
      </div>
    </div>
    <div class="my-auto mx-2 text-xs font-medium text-center">
      <div class="flex flex-row items-center text-xs">
        <div>08:55</div>
        <div>
          <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="green"
              class="w-4 h-4">
              <path fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                clip-rule="evenodd" />
            </svg>
          </span>
        </div>
        <div>Sent</div>
      </div>
    </div>
  </div>
  <div class="flex flex-row-reverse items-end my-2">
    <div class="relative flex flex-0 flex-col items-center justify-center w-10 my-auto">
      <img src="https://angular-test-backend-yc4c5cvnnq-an.a.run.app/Sam.png"
        class="w-full h-full rounded-full object-cover" alt="">
      <p class="text-xs">Sam</p>
    </div>
    <div
      class="relative max-w-[70%] px-3 py-2 rounded-sm mr-4 bg-white text-gray-700 text-sm my-auto">
      <p>Hello, I'm Russell.</p>
      <div
        class="absolute top-[0px] right-0 transform translate-x-1/2 translate-y-1/2 rotate-45 w-4 h-4 bg-white">
      </div>
    </div>
    <div class="my-auto mx-2 text-xs font-medium text-center">
      <div class="flex flex-row items-center text-xs">
        <div>08:55</div>
        <div>
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" class="w-5 h-5">
              <path fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
                clip-rule="evenodd" />
            </svg>

          </span>
        </div>
        <div>Error</div>
      </div>
    </div>
  </div>
  <div class="flex flex-row items-start my-2">
    <div class="relative flex flex-0 flex-col items-center justify-center w-10 my-auto">
      <img src="https://angular-test-backend-yc4c5cvnnq-an.a.run.app/Sam.png"
        class="w-full h-full rounded-full object-cover" alt="">
      <p class="text-xs">Sam</p>
    </div>
    <div class="relative max-w-[70%] px-3 py-2 rounded-sm ml-4 bg-white text-gray-700 text-sm">
      <p>Hello, I'm Russell.<br> How can I help you today?
        Are we meeting today?
        Project has been already finished and I have results to show you</p>
      <div
        class="absolute top-[0px] left-0 transform -translate-x-1/2 translate-y-1/2 rotate-45 w-4 h-4 bg-white">
      </div>
    </div>
    <div class="my-auto mx-2 text-xs font-medium text-center">
      <p>08:55</p>
    </div>
  </div>
  <div class="flex flex-row-reverse items-end my-2">
    <div class="relative flex flex-0 flex-col items-center justify-center w-10 my-auto">
      <img src="https://angular-test-backend-yc4c5cvnnq-an.a.run.app/Sam.png"
        class="w-full h-full rounded-full object-cover" alt="">
      <p class="text-xs">Sam</p>
    </div>
    <div
      class="relative max-w-[70%] px-3 py-2 rounded-sm mr-4 bg-white text-gray-700 text-sm my-auto">
      <p>Hello, I'm Russell.</p>
      <div
        class="absolute top-[0px] right-0 transform translate-x-1/2 translate-y-1/2 rotate-45 w-4 h-4 bg-white">
      </div>
    </div>
    <div class="my-auto mx-2 text-xs font-medium text-center">
      <div class="flex flex-row items-center text-xs">
        <div>08:55</div>
        <div>
          <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="green"
              class="w-4 h-4">
              <path fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                clip-rule="evenodd" />
            </svg>
          </span>
        </div>
        <div>Sent</div>
      </div>
    </div>
  </div>
  <div class="flex flex-row-reverse items-end my-2">
    <div class="relative flex flex-0 flex-col items-center justify-center w-10 my-auto">
      <img src="https://angular-test-backend-yc4c5cvnnq-an.a.run.app/Sam.png"
        class="w-full h-full rounded-full object-cover" alt="">
      <p class="text-xs">Sam</p>
    </div>
    <div
      class="relative max-w-[70%] px-3 py-2 rounded-sm mr-4 bg-white text-gray-700 text-sm my-auto">
      <p>Hello, I'm Russell.</p>
      <div
        class="absolute top-[0px] right-0 transform translate-x-1/2 translate-y-1/2 rotate-45 w-4 h-4 bg-white">
      </div>
    </div>
    <div class="my-auto mx-2 text-xs font-medium text-center">
      <div class="flex flex-row items-center text-xs">
        <div>08:55</div>
        <div>
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red" class="w-5 h-5">
              <path fill-rule="evenodd"
                d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
                clip-rule="evenodd" />
            </svg>

          </span>
        </div>
        <div>Error</div>
      </div>
    </div>
  </div>
</div>
