<div class="flex flex-col flex-auto shrink py-6 bg-card">
  <div *ngFor="let message of messages">
    <div class="flex flex-row items-start my-2" *ngIf="user.userId !== message.userId">
      <div class="relative flex flex-0 flex-col items-center justify-center w-9 my-auto">
        <img src="assets/img/{{message.userId}}.png" class="w-full h-full rounded-full object-cover" alt="">
        <p class="text-xs">{{ message.userId }}</p>
      </div>
      <div class="relative max-w-[70%] px-3 py-1 rounded-sm ml-4 bg-white text-gray-700 text-sm my-auto">
        <p>{{ message.text }}</p>
        <div class="absolute top-[0px] left-0 transform -translate-x-1/2 translate-y-1/2 rotate-45 w-4 h-4 bg-white">
        </div>
      </div>
      <div class="relative my-auto mx-2 text-xs font-medium text-center">
        <p>{{ message.datetime | date:'shortTime' }}</p>
      </div>
    </div>
    <div class="flex flex-row-reverse items-end my-2" *ngIf="user.userId === message.userId">
      <div class="relative flex flex-0 flex-col items-center justify-center w-9 my-auto">
        <img src="assets/img/{{message.userId}}.png" class="w-full h-full rounded-full object-cover" alt="">
        <p class="text-xs">{{ message.userId }}</p>
      </div>
      <div class="relative max-w-[70%] px-3 py-1 rounded-sm mr-4 bg-white text-gray-700 text-sm my-auto">
        <p>{{ message.text }}</p>
        <div class="absolute top-[0px] right-0 transform translate-x-1/2 translate-y-1/2 rotate-45 w-4 h-4 bg-white">
        </div>
      </div>
      <div class="relative my-auto mx-2 text-xs font-medium text-center">
        <div class="flex flex-row items-center text-xs">
          <p>{{ message.datetime | date:'shortTime' }}</p>
          <div>
            <span>
              <img *ngIf="!message.notsent" src="assets/img/sent.svg" class="w-4 h-4" alt="">
              <img *ngIf="message.notsent" src="assets/img/error.svg" class="w-4 h-4" alt="">
            </span>
          </div>
          <div>
            <span *ngIf="!message.notsent">Sent</span>
            <span *ngIf="message.notsent">Error</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!messages || messages.length === 0" class="relative my-auto mx-2 text-sm font-medium text-center">
    <p class="font-bold">NOTE:</p>
    <p>Kindly select a user and channel to chat</p>
    <p>You can then send your message.</p>
    <p>If anyone is available online to chat, you will get a reply</p>
    <p>Thanks. 😊</p>
  </div>

</div>
